@page "/encuestas/crearterminar"
<h1>Encuesta registrada</h1>
<h2>¡Agradecemos su participación, sus comentarios nos ayudaran a mejorar el servicio!</h2>

<h2>NOTA: Si nos dejo sus datos es posible que un asesor le contacte para apoyarlo en las dudas que tenga</h2>
@code {

}