@page "/enconstruccion"
<html>
	<head>
		<title>Mi página de ejemplo</title>
	</head>
	<body>
		@* <img src="D:\\AppEncuestas\\Pages\\web-en-construccion.jpg" alt="texto descriptivo"> *@
        <img border="0" height="800" src="//4.bp.blogspot.com/-jTePQhsp0DY/U8wSUrFjwrI/AAAAAAAAAbs/iC3i92VGmqc/s1600/web-en-construccion.jpg" width="732">        
	</body>
</html>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
