@page "/"


<PageTitle>Index</PageTitle>

<h1>Estimado usuario</h1>

Bienvenido a la pagina de tramites en linea del O.P.D.M. de TlalnepantlaXXXXX

Favor de elegir del menu del lado derecho la opciòn requerida de tramite

@* <SurveyPrompt Title="How is Blazor working for you?" /> *@
