@inherits LayoutComponentBase

<div class="page">

@*    <div class="sidebar">
        <NavMenu />
    </div>   *@
    <main>
        <div class="top-row">
            <div class="col-4">
                <a href="http://www.tlalnepantla.gob.mx/">
                    <span class="et_pb_image_wrap "><img loading="lazy" src="https://www.opdmtlalnepantla.gob.mx/wp-content/uploads/banners/logo-ayuntamiento-web.png" alt="" title="logo-ayuntamiento-web" height="100" width="200" srcset="https://www.opdmtlalnepantla.gob.mx/wp-content/uploads/banners/logo-ayuntamiento-web.png 499w, https://www.opdmtlalnepantla.gob.mx/wp-content/uploads/banners/logo-ayuntamiento-web-480x167.png 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 499px, 100vw" class="wp-image-1137"></span>
                </a>
            </div>
@*            <div class="col-4">
                <h4>TRAMITES EN LINEA</h4>
            </div>*@
            <div class="col-4">
                    <a href="https://www.opdmtlalnepantla.gob.mx/">
                        <span class="et_pb_image_wrap "><img loading="lazy" src="https://www.opdmtlalnepantla.gob.mx/wp-content/uploads/banners/logo_opdm.png" alt="" title="Inicio" srcset="https://www.opdmtlalnepantla.gob.mx/wp-content/uploads/banners/logo_opdm.png 346w, https://www.opdmtlalnepantla.gob.mx/wp-content/uploads/banners/logo_opdm.png 259w" sizes="(max-width: 346px) 100vw, 346px" class="wp-image-359" width="220" height="90"></span>
                    </a>
            </div>    
        </div>              

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>